<body class="lp-body">
  <div class="PageTitle">
    <h1>Blue Dreams Kanban</h1>
  </div>
  <main style="display:flex;justify-content:center;align-items: center;margin-top:200px">
    <article>
      <form class="standard_card" action="/add_user" method="POST">
        <label>Create a new user</label>
        <input name="name" type="text" placeholder="User's name" class="LPInput" required />
        <br>
        <label>Image URL</label>
        <input name="image" type="url" placeholder="Image URL" class="LPInput" required />
        <br>
        <button>Submit</button>
        <br>
      </form>
      <br>
      <form class="standard_card" action="/new_project_board" method="POST">
          <label>Create a new project board</label>
          <input name="name" type="text" placeholder="Project board's name" class="LPInput" required />
          <br>
          <button>Submit</button>
          <br>
        </form>
        <br>
        <form class="standard_card">
          <label>Already have a Project Board?</label>
          <br>
          <button><a href="/view_all_projects">View All</a></button>
          <br>
        </form>
        <br>
        </article>
  </main>
</body>
